# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
game/data/
sgdk/
out/
videos/
roms/
Griel.workspace
Griel.workspace.layout
GrielsQuest.cbp
GrielsQuest.cscope_file_list
GrielsQuest.layout
SGDK_v1.21.cbp
SGDK_v1.21.layout


# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
GrielsQuest.cbp
GrielsQuest.layout
GrielsQuest.layout
*.layout
GrielsQuest.layout
GrielsQuest.layout
GrielsQuest.cbp
*.layout
