SPRITE w0s_blocks       "game/data/world_0/blocks.bmp"       16 16  0  0  0
SPRITE w0s_blocks_32x32 "game/data/world_0/blocks_32x32.bmp" 16 16  0  0  0
SPRITE w0s_enemies      "game/data/world_0/enemies.bmp"      16 16  0  0  0
SPRITE w0s_bigboy       "game/data/world_0/bigboy.bmp"       16 24  0  0  0
SPRITE w0s_line_down    "game/data/world_0/line_down.bmp"    32  8  0  0  0
;SPRITE w0s_line_left    "game/data/world_0/line_left.bmp"     8 32  0  0  0
;SPRITE w0s_line_right   "game/data/world_0/line_right.bmp"    8 32  0  0  0



;SPRITE w0s_boss        "game/data/world_0/boss.bmp"        32 32  0  0  0
;SPRITE w0s_demon       "game/data/world_0/demon.bmp"       32 16  0  0  0
;
